<app-header titulo="Date Time"></app-header>

<ion-content>

  <ion-list-header>
    <ion-label>Datos de Nacimiento</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime [value]="fechaNaci.toISOString()"
                  display-format="DD MMMM YYYY"
                  (ionChange)="cambiarFecha( $event )"
    ></ion-datetime>
  </ion-item>



  <ion-list-header>
    <ion-label>Restricciones</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Min y Max</ion-label>
    <ion-datetime display-format="DD MMMM YYYY"
                  min="2015-01-01" 
                  max="2025-12-31"
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Años</ion-label>
    <ion-datetime display-format="YYYY"
                  min="2015" 
                  max="2025"
    ></ion-datetime>
  </ion-item>


  <ion-item>
    <ion-label>customPickerOptions</ion-label>
    <ion-datetime display-format="DD MMMM YYYY"
                  [pickerOptions]="customPickerOptions"
                  [yearValues]="customYearValues"
    ></ion-datetime>
  </ion-item>

</ion-content>
