<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="secondary">Componentes !!</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons> -->


  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-list>
    <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{ c.name }} 
    </ion-item>  
  </ion-list>

  

  <!-- <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button> -->


</ion-content>
