<app-header titulo="Alert"></app-header>

<!-- <ion-header>
  <ion-toolbar>

    mode="ios"
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/" 
      text="regresar"
      icolor="primary"
      
      ></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <ion-button (click)="presentAlert()" expand=block>
    Alert
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand=block >
    Alert multiple
  </ion-button>

  <ion-button (click)="presentAlertPrompt()" expand=block >
    present Alert Prompt
  </ion-button>

  <ion-button (click)="presentAlertConfirm()" expand=block >
    presentAlertConfirm
  </ion-button>

  <ion-button (click)="presentAlertCheckbox()" expand=block >
    ppresentAlertCheckbox
  </ion-button>

  <ion-button (click)="presentAlertRadio()" expand=block >
    presentAlertRadio
  </ion-button>


</ion-content>
