<app-header titulo="Action sheet"></app-header>


<!--
<ion-header>
  <ion-toolbar>
    
     mode="ios" 
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/" 
      text="regresar"
      icolor="primary"
      
      ></ion-back-button>
    </ion-buttons>

    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header> 
-->

<ion-content class="ion-padding">

  <ion-button (click)="onClick()" expand="block">
    Mostrar Action-sheet
  </ion-button>

  <!-- <h2>Hola</h2> -->
</ion-content>
