<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img src="/assets/stan-lee.jpg" /> -->
        <ion-img src="/assets/stan-lee.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary" outline="true" *ngFor="let item of [1,1,1,1,1,1]">

    <ion-avatar>
      <ion-img src="/assets/stan-lee.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item slot="start" *ngFor="let i of [1,1,1,1,1,1]">

      <ion-avatar slot="start">
        <ion-img src="/assets/stan-lee.jpg"></ion-img>
      </ion-avatar>

      <ion-label>Stan Lee</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
