<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary" >Popover</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover( $event )">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="presentPopover( $event )" expand="block">
    Click me
  </ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="presentPopover( $event )">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
