<app-header titulo="Card"></app-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam labore iure vitae rerum maxime, quia neque cum ad aut sunt soluta, nesciunt ea optio repellat saepe eaque suscipit ipsam dicta?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <!-- <img src="https://static.wikia.nocookie.net/metalgear/images/1/1e/GZBigBossPP.png" > -->
    <ion-img src="https://static.wikia.nocookie.net/metalgear/images/1/1e/GZBigBossPP.png"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam labore iure vitae rerum maxime, quia neque cum ad aut sunt soluta, nesciunt ea optio repellat saepe eaque suscipit ipsam dicta?
    </ion-card-content>
  </ion-card>
  
</ion-content>
