<app-header [titulo]="nombre || 'Input Forms'"></app-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header>
      <ion-label>Input Normal</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Escribe aqui  para buscar" [(ngModel)]="nombre" ></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmit( formulario )">

    <ion-list-header>
      <ion-label>Formulario válido: {{ formulario.valid }} </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input 
            type="email" 
            placeholder="Ingresa el Email" 
            required
            name="email"
            [(ngModel)]="usuario.email"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input 
              type="password" 
              placeholder="Ingrese contraseña"
              name="password"
              [(ngModel)]="usuario.password"
              required></ion-input>
    </ion-item>

    <ion-button [disabled]="formulario.invalid" type="submit" expand="block" >
      Guardar
    </ion-button>

  </form>



</ion-content>
