<ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-slides pager="ios" class="slide-full">

    <ion-slide *ngFor="let slide of slides">
      
      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image" >

        <ion-card-header>
          <ion-card-subtitle> {{slide.titulo}} </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{slide.desc}}
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>
      <ion-button (click)="onClick()" expand="block" >
        Comenzar
      </ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
