<app-header title="Toast"></app-header>

<ion-content class="ion-padding">

  <ion-button (click)="presentToast()" expand="block">
    presentToast
  </ion-button>

  <ion-button (click)="presentToastWithOptions()" expand="block">
    presentToastWithOptions
  </ion-button>

</ion-content>
