<ion-header>
  <ion-toolbar>
    <ion-title> {{nombre}} - {{pais}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="salirSinArgumentos()" expand="block">
    Salir Sin Argumentos
  </ion-button>

  <ion-button (click)="salirConArgumentos()" expand="block">
    Salir Con Argumentos
  </ion-button>

</ion-content>
